


/*Start Global Classes*/
body
{
    overflow-x: hidden;
}
.text-wrap
{
    overflow-wrap: anywhere;
}
button:hover,
button:active,
button:focus
{
    box-shadow: none;
    outline: none;
}
.btn.focus, .btn:focus
{
    outline: none;
    box-shadow: none;
    border-color: transparent;
}
input.form-control:active,
input.form-control:focus
{
    box-shadow: none;
    outline: none;
    border-color: #ced4da;
}

.bg-main
{
    background-color:#FF153E;
}
.main-color
{
    color:#F0474E;
}
main
{
    font-size: 1.5rem;
}
.pointer
{
    cursor: pointer;
}
.font-weight-900
{
    font-weight: 900;
}
.font-weight-600
{
    font-weight: 600;
}
/*End Global Classes*/


.search-box-overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 9999;
    display: none;
}
.search-box-overlay .search-txt
{
    white-space: nowrap;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}



/*Start navbar*/
.home .navbar .nav-item .nav-link::after
{
    content: "";
    display: block;
    height: .1rem;
    background-color: #F0474E;
    transform: scaleX(0);
    transition: .3s;
}
.home .navbar .nav-item.active .nav-link::after,
.home .navbar .nav-item:hover .nav-link::after
{
    transform: scaleX(1);
}
.home .navbar .nav-item.active .nav-link,
.home .navbar .nav-item:hover .nav-link
{
    color: #F0474E;
}
.home .navbar .contact-info
{
    overflow-wrap: anywhere;
}
@media (max-width: 768px) {
    .home .navbar-brand
    {
        width: 150px;
    }
}
/*End navbar*/




/*Start location-section*/
.location-section .search-txt
{
    position: absolute;
    top: 50%;
    right: 1px;
    transform: translateY(-50%);
}
@media (max-width: 768px) {
    .location-section .search-txt
    {
        font-size: .8rem;
    }
}
.location-section .list-items .list_item .num
{
    color: #b9b8bd;
}
.location-section .list-items .list_item::before
{
    content: "\f054";
    font-weight: 600;
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 50%;
    transform: translate(-120%, -50%);
    color:#F0474E;
    display: none;
}
.location-section .list-items .list_item.active::before
{
    display: block;
}
.location-section .list-items .list_item.active
{
    font-weight: bold;
}
.location-section .list-items .list_item.active .num
{
    color: #222;
}
.location-section .img-container .image-map
{
    position: absolute;
    
}

.location-section .img-container .card
{
    box-shadow: 0px 10px 10px -3px #ddd;
    max-width: 15rem;
    transform: translateY(-10%);
    font-size: .8rem;
}
.location-section .img-container .card-overlay .card-text
{
    font-size: .9rem;
}
.location-section .img-container .card-overlay
{
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    
}
.location-section .img-container .card-overlay .icon
{
    color: #F0474E;
}
.location-section .img-container .image-marker
{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}
/*End location-section*/


/*Start upper-footer-section*/
.upper-footer-section a
{
    color: inherit;
}
.upper-footer-section .list-items .office-list-item::after
{
    content: "|";
    color: #aaa;
    position: absolute;
    top: 0;
    right: -5px;
}
.upper-footer-section .list-items .office-list-item:last-of-type::after
{
    display: none;
}
.upper-footer-section .search-txt
{
    white-space: nowrap;
}

.social-item svg
{
    transition: .2s;
}
.social-item:hover .fa-linkedin-in
{
    color: #0077b5;
}
.social-item:hover .fa-youtube
{
    color: #ff0000;
}
.social-item:hover .fa-twitter
{
    color: #1da1f2;
}
.social-item:hover .fa-facebook-f
{
    color: #3b5998;
}
.social-item:hover .fa-google
{
    color: #ea4335;
}

/*End upper-footer-section*/

/*Start Footer*/
.footer a
{
    color: inherit;
}
@media (max-width:575px) {
    .footer .bottom-bar
    {
        font-size: .9rem;
    }
}
/*End Footer*/





/*Start hire-us-section*/
.hire-us-section textarea
{
    height: 150px;
    resize: none;
}
.hire-us-section .agreement-container
{
    background-color: #fafafa;
    border: 1px dashed #ddd;
}
.hire-us-section .agreement-container .in-file
{
    width: 100%;
    height: 100%;
    opacity: 0;
    position: relative;
    z-index: 2;
}
.hire-us-section .agreement-container .inner-content .icon
{
    color: #787c95;
}
.hire-us-section .agreement-container .inner-content
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.hire-us-section .agreement-container .inner-content .text
{
    font-weight: 600;
    color: #525254;
}
.hire-us-section .captcha-img
{
    height: 50px;
}
.hire-us-section .btn-send
{
    background-color:#f0474e;
}
.hire-us-section .right-section .box .inner-box
{
    background-color: #f3f4f8;
    transition: .2s;
}
.hire-us-section .right-section .box .icon
{
    font-size: 2rem;
    color: #ea4335;
}
.hire-us-section .right-section .box .icon::after
{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ea4335;
    opacity: .15;
    transition: .2s;
    transform: translate(-30%, -55%);
    z-index: 1;
}
.hire-us-section .right-section .box .checkbox-container
{
    position: absolute;
    top: 15px;
    right: 30px;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.hire-us-section .right-section .box .checkbox-container .in-check
{
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
    opacity: 0;
}
.hire-us-section .right-section .box .checkbox-container .icon-check
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: .8rem;
    transition: .2s;
}
.hire-us-section .right-section .box.selected .inner-box
{
    background-color: #f0474e;
    color: #fff;
}

.hire-us-section .right-section .box.selected .icon::after
{
    background-color: #f36c72;
    opacity: 1;
}
.hire-us-section .right-section .box.selected .icon
{
    color: #fff;
}
.hire-us-section .right-section .box.selected .icon svg
{
    position: relative;
    z-index: 2;
}
.hire-us-section .right-section .box.selected .checkbox-container
{
    border-color: #fff;
    background-color: transparent;
}
/*End hire-us-section*/




/*Start About Us page*/
.about-us-header
{
    background: url('../imgs/aboutUs/Frame\ 5.png') no-repeat center center;
    background-size: cover;
}
.about-us-header .left-section .top-content
{
    background: linear-gradient(90deg, #fff,rgba(255,255,255,.8), transparent) ;
}
.btn-about-us
{
    background-color: #ef474d;
    font-size: .85rem;
}
.btn-about-us .icon
{
    background-color: #db4349;
    position: relative;
    overflow: hidden;
}
.btn-about-us .icon svg
{
    transition: .2s;
}
.btn-about-us:hover .icon svg
{
    transform: translateX(200%);
}
.btn-about-us .icon::after
{
    content: "\f061";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-250%, -50%);
    transition: .2s;
}
.btn-about-us:hover .icon::after
{
    transform: translate(-50%, -50%);
}
.about-us-header .right-section .inner-content
{
    background-color: #222c3e;
}
/*End About Us page*/


/*Start Why Us section*/
.why-us-section
{
    background-color: #f3f4f8;
}
.why-us-section .image
{
    width: 80%;
}
@media (max-width: 991px) {
    .why-us-section .image
    {
        width: 100%;
    }
}
@media (max-width: 767px) {
    .why-us-section .image
    {
        position: static !important;
    }
}
/*End Why Us section*/

/*Start rate-legal*/
.rate-legal
{
    background-color: #f3f4f8;
}
/*End rate-legal*/

/*Start contact-us*/
.contact-us
{
    background-color: #f3f4f8;
}
.contact-us .image
{
    transform: scale(1.3);
    transform-origin: bottom;
}
@media (max-width: 991px) {
    .why-us-section .image
    {
        width: 100%;
    }
}
@media (max-width: 767px) {
    .contact-us .image
    {
        transform: translateY(-20%);
        position: static !important;
    }
}
/*End contact-us*/

/*Start near-office-section*/
.near-office-section .image
{
    background-color: #f3f4f8;
    width: 80%;
}
.near-office-section .search-txt
{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
@media (max-width: 991px) {
    .near-office-section .image
    {
        width: 100%;
    }
}
/*End near-office-section*/

/*Start payment-section*/
.payment-section
{
    background-color: #f3f4f8;
}
.payment-section .image
{
    width: 80%;
}
@media (max-width: 991px) {
    .payment-section .image
    {
        width: 100%;
    }
}
@media (max-width: 767px) {
    .payment-section img
    {
        position: static !important;
    }
}
/*End payment-section*/

/*Start reviews-section*/
.reviews-section
{
    background: url("../imgs/aboutUs/reviews.png") center center no-repeat;
}
.reviews-section .quote-icon
{
    font-size: 3rem;
    color: #ef474d;
    transform: translateY(50%);
}
.reviews-section .text,
.reviews-section2 .text
{
    color: #525254;
}
.reviews-section .stars,
.reviews-section2 .stars
{
    color: #ef474d;
    font-size: .7rem;
}

.reviews-section .chevrons
{
    position: absolute;
    bottom: 0;
    right: 20px;
    width: 50px;
}
.reviews-section .chevrons .carousel-control-prev,
.reviews-section .chevrons .carousel-control-next
{
    opacity: 1;
}
.reviews-section .chevrons .carousel-control-prev-icon,
.reviews-section .chevrons .carousel-control-next-icon
{
    background-image: none;
    color: #000;
}
/*End reviews-section*/